name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [cron: "42 0 7 * *"] # https://crontab.guru/#42_0_7_*_*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2 # v4.4.0
        with: { cache: yarn, node-version-file: .node-version }
      - name: Compile extension
        run: |
          yarn install --frozen-lockfile
          yarn lint
          yarn compile

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with: { egress-policy: audit }
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2 # v4.4.0
        with: { cache: yarn, node-version-file: .node-version }
      - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with: { ruby-version: 3.4, bundler-cache: true }
      - run: gem install standard
      - name: Compile Tests
        run: |
          yarn install --frozen-lockfile
          yarn test-compile
      - name: Setup GUI Environment
        run: |
          sudo apt-get install -yq dbus-x11 ffmpeg > /dev/null
          mkdir -p ~/bin
          mkdir -p ~/var/run
          cat <<EOF > ~/bin/xvfb-shim
          #! /bin/bash
          echo DISPLAY=\$DISPLAY >> ${GITHUB_ENV}
          echo XAUTHORITY=\$XAUTHORITY >> ${GITHUB_ENV}
          sleep 86400
          EOF
          chmod a+x ~/bin/xvfb-shim
          dbus-launch >> ${GITHUB_ENV}
          start-stop-daemon --start --quiet --pidfile ~/var/run/Xvfb.pid --make-pidfile --background --exec /usr/bin/xvfb-run -- ~/bin/xvfb-shim
          echo -n "Waiting for Xvfb to start..."
          while ! grep -q DISPLAY= ${GITHUB_ENV}; do
            echo -n .
            sleep 3
          done
        if: runner.os == 'Linux'
      - name: Start Screen Recording
        run: |
          mkdir -p $PWD/videos-raw
          no_close=--no-close # uncomment to see ffmpeg output (i.e. leave stdio open)
          start-stop-daemon $no_close --start --quiet --pidfile ~/var/run/ffmpeg.pid --make-pidfile --background --exec /usr/bin/ffmpeg -- -nostdin -f x11grab -video_size 1280x1024 -framerate 10 -i ${DISPLAY}.0+0,0 $PWD/videos-raw/test.mp4
        if: runner.os == 'Linux'
      - name: Cache VS Code Binary
        id: vscode-test
        uses: actions/cache@v4
        with:
          path: .vscode-test/
          key: ${{ runner.os }}-vscode-test
      - name: Run Tests
        run: yarn test
      - name: Stop Screen Recording
        run: |
          start-stop-daemon --stop --pidfile ~/var/run/ffmpeg.pid
          sleep 3
          mkdir -p $PWD/videos
          for f in $PWD/videos-raw/*.mp4; do
            out=`basename $f`
            ffmpeg -i $f -vf format=yuv420p $PWD/videos/$out
          done
        if: always() && runner.os == 'Linux'
      - name: Archive Screen Recording
        uses: actions/upload-artifact@v5
        with:
          name: videos
          path: |
            videos/
        if: always() && runner.os == 'Linux'
      - name: Teardown GUI Environment
        run: |
          start-stop-daemon --stop --pidfile ~/var/run/Xvfb.pid
          kill $DBUS_SESSION_BUS_PID
        if: always() && runner.os == 'Linux'
